<!-- Code obtained and modified from:  -->
<!-- https://github.com/sibtc/simple-file-upload -->
<!-- Original Author: https://github.com/sibtc -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
  <ul>
    <li>
      <a href="{% url 'model_form_upload' %}">Model Form Upload</a>
    </li>
  </ul>

  <p>Uploaded files:</p>
  <dl>
    {% for obj in images %}
      <p>
        <dt>
          <img src="{{ obj.image.url }}" alt="{{ obj.image.name }}" height="50%", width="50%">
        </dt>
        <dd>- Uploaded at: {{ obj.uploaded_at }}</dd>
        <dd>- Image Height: {{ obj.image_height }} </dd>
        <dd>- Image Width: {{obj.image_width}} </dd>
        <dd>- <a href="{{ obj.image.url }}">{{ obj.image.name }}</a></dd>
      </p>
    {% endfor %}
  </dl>
{% endblock %}