<!-- Code obtained and modified from:  -->
<!-- https://github.com/sibtc/simple-file-upload -->
<!-- Original Author: https://github.com/sibtc -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
  <ul>
    <li>
      <a href="{% url 'model_form_upload' %}">Model Form Upload</a>
    </li>
  </ul>

  <p>Uploaded files:</p>
  <ul>
    {% for obj in images %}
      <li>
        <img src="{{ obj.image.url }}" alt="{{ obj.image.name }}" height="50%", width="50%">
        <small><a>(Uploaded at: {{ obj.uploaded_at }})</small></a>
        <small><a>(Image Width: {{obj.image.width}}, Image Height: {{obj.image.height}})</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}